
main.Fitness {
    p {
        width: 60%;
        margin-left: 20%;

        @media screen and (orientation: portrait) {
            width: 80%;
            margin-left: 10%;
        }
    }
    
    img {
        width: 25vw;
        margin: 1rem 0;

        @media screen and (orientation: portrait) {
            width: 75vw;
        }
    }

    &>img {
        margin-bottom: 5rem;
    }

    #transformation-gallery {
        display: grid;
        grid-template-columns: auto auto auto;
        justify-content: space-evenly;

        @media screen and (orientation: portrait) {
            grid-template-columns: auto;
        }
    }
}
