
main.Fitness {
    p {
        width: 60%;
        margin-left: 20%;
    }
    
    img {
        width: 25vw;
        margin: 1rem 0;
    }

    #transformation-gallery {
        display: grid;
        grid-template-columns: auto auto auto;
        justify-content: space-evenly;

        @media screen and (orientation: portrait) {
            grid-template-columns: auto;
        }
    }
}
