$nav-bg-col: black;
$nav-font-col: white;
$nav-hover-font-col: #40cc40;
$nav-hover-bg-col: $nav-bg-col;   // invisible

$nav-dropdown-bg-col: $nav-bg-col;
$nav-dropdown-font-col: $nav-font-col;
$nav-dropdown-hover-font-col: $nav-hover-font-col;

nav {
    background-color: $nav-bg-col;
    color: $nav-font-col;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    gap: 2rem;
    padding: 0 2.5rem;

    #title {
        font-size: 3.25rem;
        padding: 0.5rem 0.5rem;
    }

    a {
        font-size: 1.5rem;
        color: inherit;
        text-decoration: none;
        height: 100%;
        display: flex;
        align-items: center;
        padding: 0 1rem;

        &:hover {
            color: $nav-hover-font-col;
            background-color: $nav-hover-bg-col;
        }
    }

    ul {
        padding: 0;
        margin: 0;
        list-style: none;
        display: flex;
        gap: 1rem;
    }

    .hamburger {
        display: none; /* flex when mobile */

        width: 2.5rem;
        height: 2.5rem;
        align-self: center;
        flex-direction: column;
        justify-content: space-between;

        span {
            height: 0.5vh;
            width: 5vh;
            background-color: $nav-font-col;
            border-radius: 20px;
            margin: 0.25vh auto;
        }
    }
}

@media screen and (orientation: portrait) {
    $nav-height: 7.65vh;

    nav {
        height: $nav-height;
        display: grid;
        grid-template-columns: auto auto;
        padding: 0 1rem;

        #title {
            font-size: 2.5rem;
            padding: 0.5rem 0;
        }

        ul {
            width: 100%;
            flex-direction: column;
            position: fixed;
            background-color: $nav-dropdown-bg-col;
            color: $nav-dropdown-font-col;
            top: $nav-height;
            left: 0;
            gap: 0;

            li {
                width: 100%;

                a {
                    padding: 1rem 1rem;

                    &:hover {
                        color: $nav-dropdown-hover-font-col
                    }
                }
            }
        }

        .hamburger {
            display: flex;
        }
    }
}
