@use './components/utilities/variables' as VAR;

* {
    box-sizing: border-box;
    font-family: monospace;
}

body {
    margin: 0;
}

main {
    min-height: 100vh - VAR.$nav-height - VAR.$nav-height;

    @media screen and (orientation: portrait) {
        min-height: 100vh - VAR.$nav-mobile-height - VAR.$footer-mobile-height;
    }
}
