
main.Education {
    section#education-institution {
        width: 80vw;
        margin-left: 10vw;

        @media screen and (orientation: portrait) {
            width: 95vw;
            margin-left: 2.5vw;
        }


        h1, h2 {
            font-size: 2rem;
        }

        section#education-modules {
            margin-top: 2rem;
            margin-bottom: 3rem;
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(35rem, 1fr));
        }
    }
}
